<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Goalie</title>
</head>
<body>
<main layout:fragment="content">
    <section class="create-tournament">
        <div class="create_tournament-container">
            <div class="create-tournament-title" data-aos="fade-down">
                <h1>Schedule a Tournament</h1>
                <div></div>
            </div>

            <form action="" class="schedule-box" data-aos="zoom-in">
                <div class="input_form">
                    <div>
                        <label >Tournament Name: </label>
                        <input type="text">
                    </div>

                    <div>
                        <label >Start Date: </label>
                        <input type="date">
                    </div>
                    <div>
                        <label >End Date: </label>
                        <input type="date">
                    </div>
                    <div>
                        <label >Tournament Status: </label>
                        <select>
                            <option>Out Going</option>
                            <option>Finished</option>
                        </select>
                    </div>
                    <div>
                        <label >Location: </label>
                        <input type="text">
                    </div>

                </div>
                <div class="button">
                    <button>
                        Save Tournament
                    </button>
                </div>
            </form>

        </div>

    </section>

</main>
</body>
</html>