<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<section layout:fragment="content">
    <section class="home">
        <div class="home-details">
            <a>
                <h1>Quick Demo</h1>
                <p> demostration on how to use our platform
                    ie. how to create tournaments</p>
            </a>
            <a>
                <h1>Create Tournaments</h1>
                <p> Schedule a Tournament</p>
            </a>
            <a>
                <h1>Tournaments</h1>
                <p> view all active or upcoming tournaments</p>
            </a>
            <a>
                <h1>LeaderBoard</h1>
                <p>Display rankings, scores or stats</p>
            </a>


        </div>
    </section>
</section>

</body>
</html>