<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content">
    <section class="home">
        <section class="main_section">
            <div class="home-details">
                <a data-aos="flip-up">
                    <h1>Quick Demo</h1>
                    <p> demostration on how to use our platform
                        how to create tournaments</p>
                </a>
                <a data-aos="flip-left">
                    <h1>Create Tournaments</h1>
                    <p> Schedule a Tournament</p>
                </a>
                <a data-aos="flip-left">
                    <h1>Tournaments</h1>
                    <p> view all active or upcoming tournaments</p>
                </a>
                <a data-aos="flip-up">
                    <h1>LeaderBoard</h1>
                    <p>Display rankings, scores or stats</p>
                </a>
            </div>
        </section>
    </section>
</main>
</body>
</html>