<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <main layout:fragment="content">
        <div th:class="formParent">
            <div th:class="splashImg">
            Splash image
        </div>
        <div th:class="formSection">
            <form th:class="loginForm" method="post" th:action="@{/login}">
                <label th:for="username">Email:</label>
                <input th:type="text" th:id="username"><br>
                <label th:for="password">First Name:</label>
                <input th:type="text" th:id="password"><br>
                <label th:for="password">Last Name:</label>
                <input th:type="text" th:id="password"><br>
                <label th:for="password">Password:</label>
                <input th:type="text" th:id="password"><br>
                <label th:for="password">Confirm password:</label>
                <input th:type="text" th:id="password"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>