<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Goalie</title>
</head>
<body>
<main layout:fragment="content">
    <section class="tournaments">
        <div class="main-section tournament-main">
            <div class="tournaments-title" data-aos="fade-down">
                <h2>Tournaments</h2>
                <div></div>
            </div>

            <div class="create-links" data-aos="fade-left">
                <a th:href="@{/create_tournament}">Create Tournament

                </a>
                <i data-feather="plus" class="mr-2"></i>

            </div>
            <div class="tournament-container" data-aos="flip-left">

<!--                private Long id;-->

<!--                private String name;-->
<!--                private Date startDate;-->
<!--                private Date endDate;-->
<!--                private String status;-->
<!--                private String location;-->

<!--                // Show all tournaments-->
<!--                @GetMapping-->
<!--                public String listTournaments(Model model) {-->
<!--                List<Tournament> tournaments = service.getAllTournaments();-->
<!--                model.addAttribute("tournaments", tournaments);-->
<!--                return "tournaments"; // tournaments.html-->
<!--                }-->

                <div class="tournament" th:each="t : ${tournaments}">
                    <div class="tournament-content">

                        <h1 th:text="${t.name}">Vancouver youth tournament</h1>
                        <h3>Start Date: <span th:text="${t.startDate}">2021-1-2</span></h3>
                        <h3>End Date: <span th:text="${t.endDate}">2021-1-2</span></h3>
                        <h3>Status: <span th:text="${t.status}">OnGoing</span></h3>
                        <h3>Location: <span th:text="${t.location}">Rogers Arena</span></h3>

                    </div>
                    <div class="tournament-link">
                        <a th:href="@{/view_matches}">tournaments Detail</a>
                    </div>

                </div>
                <div class="tournament">
                    <div class="tournament-content">

                        <h1>Vancouver youth tournament</h1>
                        <h3>Start Date: <span>2021-1-2</span></h3>
                        <h3>End Date: <span>2021-1-2</span></h3>
                        <h3>Status: <span>OnGoing</span></h3>
                        <h3>Location: <span>Rogers Arena</span></h3>

                    </div>
                    <div class="tournament-link">
                        <a th:href="@{/tournaments}">tournaments Detail</a>
                    </div>

                </div>
                <div class="tournament">
                    <div class="tournament-content">

                        <h1>Vancouver youth tournament</h1>
                        <h3>Start Date: <span>2021-1-2</span></h3>
                        <h3>End Date: <span>2021-1-2</span></h3>
                        <h3>Status: <span>OnGoing</span></h3>
                        <h3>Location: <span>Rogers Arena</span></h3>

                    </div>
                    <div class="tournament-link">
                        <a th:href="@{/view_matches}">tournaments Detail</a>
                    </div>

                </div>


            </div>
        </div>

    </section>
</main>
</body>
</html>