<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" th:href="@{/css/main.css}">-->
<!--    <title>Login</title>-->
</head>
<body>
<main layout:fragment="content">
    <section class="matches">
        <div class="main-section matches-main">
            <div class="create-tournament-title" data-aos="fade-down">
                <h1>Vancouver Youth Tournament</h1>
                <div></div>
            </div>
            <div class="matches-view-area">
                <div class="matches-team-section" data-aos="flip-left">
                    <h3>Teams in The Tournament</h3>
                    <div class="team-list" th:each="team : ${teams}">
                        <div th:text="${team.name}">Team A</div>


                    </div>
                </div>

                <div class="matches-fixtures" data-aos="flip-down">
                    <h3>Play Fixtures</h3>
                    <div class="fixture-list">
                        <div class="fixture" th:each="match: ${matches}">
                            <h4>2012-05-12 9.30</h4>
                            <div>
                                <div class="team" th:text="${match.team1?.name ?: 'TBD'}"></div>
                                <span th:text="${match.getScoreDisplay()}"></span>
                                <div class="team" th:text="${match.team2.name}"></div>
                            </div>
                        </div>



                    </div>

                </div>

            </div>

        </div>
    </section>
</main>
</body>
</html>